
.photo-top {
    width: 100%

}
.photo-top img {
    width: 100%;
}
main {
    width: 70%;
    margin: auto;
}
h1 {
    font-family: 'Lobster';
    text-align: center;
}
p {
    font-family: 'Stoke';
    text-align: justify;
}
.photo-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.photo-line img {
    width: 32%;
    
}
